[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlmodel = "*"
psycopg2 = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
bcrypt = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
